@media (max-width: 1071px) {
    .card {
        margin-right: 32px;
    }

    .cards {
        display: flex;
        justify-content: space-around;
    }
}


@media (max-width: 768px) {
   .nav {
    display: none;
   }

   .bar {
    display: block;
    font-size: 30px;
    color: rgb(128, 240, 132);
   }


   .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .card {
    margin-right: 32px;
   }
}

@media (max-width: 602px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-right: 0 !important;
    }
}



